# Exclude all files (but not directories)
/**/*.*

# Opt-ins
!GOVERNANCE.md

!/feature-group-definitions/*.yml

!/packages/compute-baseline/**
!/packages/web-features/**

!/scripts/feature-init.ts
!/scripts/release.ts
