name: "Pull request labeler"
on:
  - pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
      - if: github.actor == 'dependabot[bot]'
        run: gh pr edit ${{ github.event.pull_request.number }} --add-label "generated"
